<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.green.mapper.BoardMapper">

	<insert id="insert">
		insert into tbl_board(bno, title, content, writer)
		values(seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>
	<insert id="insertSelectKey"> <!-- 열을 1개만 받을 때 selectKey 사용, 전체는 select 사용 -->
		insert into tbl_board(bno, title, content, writer)
		values(seq_board.nextval, #{title}, #{content}, #{writer})
		<selectKey keyProperty="bno" order="AFTER" resultType="long">
			select seq_board.currval from dual
		</selectKey>
	</insert>
	<select id="read" resultType="org.green.domain.BoardVO">
		Select * from tbl_board where bno = #{bno}
	</select>
	<delete id="delete">
		Delete from tbl_board where bno = #{bno}
	</delete>
	<update id="update">
		update tbl_board set 
		title = #{title}, 
		content = #{content},
		writer = #{writer} where bno = #{bno} 		
	</update>
	
	<!-- 1페이지는 1~10, 2페이지는 11~20, 3페이지는 21~30 -->
	<select id="getListWithPaging" resultType="org.green.domain.BoardVO">
	select * from 
	( select Tb.*, rownum rNum from
    	( select * from tbl_board 
    	
    	<trim prefix="where (" suffix=")">
    		<if test="typeArr != null">
				<foreach collection="typeArr" item="type" separator="or">
					<if test="type == 'T'.toString()">
						title like '%'|| #{keyword} ||'%'
					</if>
					<if test="type == 'C'.toString()">
						content like '%'|| #{keyword} ||'%'
					</if>
					<if test="type == 'W'.toString()">
						writer like '%'|| #{keyword} ||'%'
					</if>
				</foreach>
			</if>
		</trim> 
		
    	order by bno desc ) Tb
	) where rNum between (#{pageNum}-1) * #{amount}+1 and #{pageNum} * #{amount}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board
		
    	<trim prefix="where (" suffix=")">
    		<if test="typeArr != null">
				<foreach collection="typeArr" item="type" separator="or">
					<if test="type == 'T'.toString()">
						title like '%'|| #{keyword} ||'%'
					</if>
					<if test="type == 'C'.toString()">
						content like '%'|| #{keyword} ||'%'
					</if>
					<if test="type == 'W'.toString()">
						writer like '%'|| #{keyword} ||'%'
					</if>
				</foreach>
			</if>
		</trim> 
		
	</select>
	
	<select id="searchTest" resultType="org.green.domain.BoardVO">
		select * from tbl_board 
		<!-- prefix는 앞에 쿼리 추가 suffix는 뒤에 쿼리 추가 -->
		<trim prefix="where">
		<foreach collection="map" index="key" item="val" separator="or">
			<if test="key == 'T'.toString()">
				title like '%'|| #{val} ||'%'
			</if>
			<if test="key == 'C'.toString()">
				content like '%'|| #{val} ||'%'
			</if>
			<if test="key == 'W'.toString()">
				writer like '%'|| #{val} ||'%'
			</if>
		</foreach>
		</trim>
	</select>
</mapper>